<mat-toolbar>
  <div class="toolbar-div">
    <h1>Tarea de Angular</h1>
    <div>
      <span>Show</span>
      <mat-slide-toggle (click)="toggle()" class="mat-slide-toggle"></mat-slide-toggle>
      <span>Hide</span>
    </div>
  </div>
</mat-toolbar>
<main *ngIf="showList">
  <div class="div-list">
    <div class="container">
      <h2>Nombre del libro</h2>
    </div>
    <div class="container">
      <h2>Costo</h2>
    </div>
  </div>
  <div *ngFor=" let element of array" class="div-list">
    <div class="container">
      <li>{{element.nombre}}</li>
    </div>
    <div class="container">
      <li>{{element.costo}}</li>
    </div>
  </div>
</main>
<hr>