<header>
  <div>
    <h2>Tarea de Angular</h2>
    <button (click)="toggle()">Hide / Show</button>
  </div>
</header>
<main *ngIf="showList">
  <div class="div-list">
    <div class="container">
      <h3>Nombre del libro</h3>
    </div>
    <div class="container">
      <h3>Costo</h3>
    </div>
  </div>
  <div *ngFor=" let element of array" class="div-list">
    <div class="container">
      <li>{{element.nombre}}</li>
    </div>
    <div class="container">
      <li>{{element.costo}}</li>
    </div>
  </div>
</main>